{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet">
<!-- <link rel="shortscut icon" href="{{ url_for('static', path='/icon.ico') }}" type="image/x-icon"> -->
<script type="module" src="{{ url_for('static', path='/js/home.js') }}"></script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="header_menu">
    <img src="../static/img/menus.png" alt="" onclick="openForm()">
    <div class="categories" id="categories">
        <div class="list-categories">
            <ul>
                {% for category in categories %}
                <li>{{category.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="header_img">
        <img src="../static/img/back.jpg" alt="">
    </div>
    <div class="main-text">Рекомендуем</div>
    <div class="items">
        {% for product in products %}
            <div class="item">
                <div class="image">
                    <img src="{{product.photos[0].name}}" alt="">
                </div>
                <div class="info">
                    <h3>{{product.name}}</h3>
                    <div class="price-more">
                        <span class="price">{{product.price}}<small>₽</small></span>
                        <img src="../static/img/right-drawn-arrow.png" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}




<div class="content">
    <div class="items">
        {% for product in products %}
            <div class="item">
                <div class="item_img">
                    <img src="{{product.photos[0].name}}">
                </div>
                <div class="item_text">
                    {{product.name}}
                </div>
                <div class="item_price">
                    {{product.price}}руб
                </div>
            </div>
        {% endfor %}
